/* --------fonts----------- */
@font-face {
	font-family: "DelaGothicOne";
	src: url("../fonts/DelaGothicOne-Regular.ttf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_light.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
}

/* --------reset---------------- */
* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;

	padding: 0;
	list-style: none;
}

.button {
	cursor: pointer;
}

label {
	margin: 0;
}

input {
	background: none;
	outline: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
}

/* ----------accent---------- */
.accent1 {
	position: absolute;
	left: 0;
	top: 68px;
	width: 76.21vw;
	max-width: 400px;
	z-index: 4;
}

@media screen and (min-width: 992px) {
	.accent1 {
		display: none;
	}
}

.accent2 {
	display: none;
}

@media screen and (min-width: 992px) {
	.accent2 {
		display: block;
		position: absolute;
		top: -420px;
		left: -420px;
		width: 980px;
		z-index: 4;
	}
}

@media screen and (min-width: 1440px) {
	.accent2 {
		top: -400px;
		left: -320px;
	}
}

.accent3 {
	position: absolute;
	right: 0;
	bottom: 100px;
	z-index: 4;
}

@media screen and (min-width: 992px) {
	.accent3 {
		right: 0;
		top: -200px;
		z-index: 4;
	}
}

.accent4 {
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 49.39vw;
	max-width: 280px;
	z-index: 4;
}

@media screen and (min-width: 992px) {
	.accent4 {
		display: none;
	}
}

.accent5 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 520px;
	z-index: 4;
}

.accent6 {
	display: none;
}

.accent7 {
	display: none;
}

.accent8 {
	display: none;
}

.accent9 {
	display: none;
}

@media screen and (min-width: 992px) {
	.accent6 {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 89.87vw;
		z-index: 4;
	}
}

@media screen and (min-width: 1200px) {
	.accent6 {
		width: 85.97vw;
	}
}
@media screen and (min-width: 1440px) {
	.accent6 {
	display: none;
	}

	.accent5 {
		display: none;
	}

	.accent7 {
		display: block;
		position: absolute;
		bottom: -370px;
		right: -250px;
		width: 1080px;
		z-index: 5;
	}

	.accent8 {
		position: absolute;
		left: -250px;
		bottom:-300px;
		display: block;
		width: 1300px;
		z-index: 4;
	}

	.accent3 {
		display: none;
	}

	.accent9 {
		position: absolute;
		top: -220px;
		right: -650px;
		display: block;
		width: 1230px;
		z-index: 4;
	}
}

/* -----------main------------- */

html {
	scroll-behavior: smooth;
	height: auto;
	min-height: 100%;
}
body {
	font-family: "Stolzl", sans-serif;
	color: #ffffff;
	position: relative;
	width: 100vw;
	height: auto;
	min-height: 100dvh;
	overflow-x: hidden;
	background: linear-gradient(0deg, #1a1a1e, #1a1a1e),
		linear-gradient(90.6deg, #1a1a1e 0.42%, #292a2e 49.61%, #1a1a1e 99.38%);
	margin: 0;

}

body::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 2;
	background-image: linear-gradient(
			180deg,
			rgba(26, 26, 30, 0) 0%,
			rgba(26, 26, 30, 0.84) 59.2%,
			#1a1a1e 100%
		),
		url(../images/bg-img.webp);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	position: relative;
	width: 100%;
	max-width: 3000px;
	height: auto;
	min-height: 100dvh;
	margin: 0 auto;
	padding-top: 46px;
	overflow: hidden;
}
@media screen and (min-width: 992px) {
	.container {
		padding-top: 80px;
	}
}
@media screen and (min-width: 2400px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.header {
	width: 100%;
	max-width: 2400px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index: 3;
}

@media screen and (min-width: 992px) {
	.header {
		gap: 32px;
	}
}

.logo {
	width: 172px;
	height: 20px;
}

@media screen and (min-width: 992px) {
	.logo {
		width: 418px;
		height: 48px;
	}
}

.header-titel {
	font-family: "DelaGothicOne";
	font-weight: 400;
	font-size: 24px;
	line-height: 18px;
}

@media screen and (min-width: 992px) {
	.header-titel {
		font-size: 48px;
		line-height: 100%;
	}
}

.main {
	position: relative;
	z-index: 8;
	width: 100%;
	height: auto;
	min-height: 100dvh;
	padding-top: 40px;
}

@media screen and (min-width: 992px) {
	.main {
		max-width: 1225px;
	}
}

@media screen and (min-width: 1200px) {
	.main {
		max-width: 1512px;
		padding-top: 55px;
	}
}

@media screen and (min-width: 1440px) {
	.main {
		max-width: 2400px;
		/* padding-top: 0; */
	}
}

.bubble {
	border-radius: 100px;
	border: 2px solid #00ff86;
	background: #131f28a3;
	backdrop-filter: blur(16px);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bubble-text1 {
	width: 237px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 992px) {
	.bubble-text1 {
		width: 473px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-size: 28px;
		text-align: center;
		margin-left: 10%;
	}
}

.hero {
	position: relative;
	width: 300px;
	height: 240px;
	background-image: url(../images/Maskot.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}
@media screen and (min-width: 992px) {
	.hero {
		width: 656px;
		height: 480px;
		background-position: center -60px;
	}
}

.timer-wrap {
	width: 296px;
	height: 76px;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	border-radius: 24px;
	border-width: 1px;
	background: linear-gradient(86.65deg, #00ed7c 0%, #49f1ca 99.98%);
	border-image-source: linear-gradient(
		0deg,
		#238d67 0%,
		rgba(255, 255, 255, 0.64) 100%
	);
}

@media screen and (min-width: 992px) {
	.timer-wrap {
		width: 656px;
		height: 176px;
		padding-top: 32px;
		padding-right: 64px;
		padding-bottom: 32px;
		padding-left: 64px;
		border-radius: 56px;
		border-width: 2px;
	}
}

.timer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
@media screen and (min-width: 992px) {
	.timer {
		gap: 16px;
	}
}

.time {
	display: flex;
	flex-direction: column;
}

.time-part {
	font-family: "DelaGothicOne";
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	color: #292a2e;
}

@media screen and (min-width: 992px) {
	.time-part {
		font-size: 86px;
		line-height: 86px;
	}
}

.label {
	font-family: "DelaGothicOne";
	font-weight: 400;
	font-size: 8px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #292a2e52;
}

@media screen and (min-width: 992px) {
	.label {
		font-size: 18px;
	}
}

.colon {
	user-select: none;
	font-family: "DelaGothicOne";
	font-weight: 400;
	font-size: 32px;
	line-height: 32px;
	color: #292a2e52;
}

@media screen and (min-width: 992px) {
	.colon {
		font-size: 86px;
		line-height: 86px;
	}
}

.title {
	width: 296px;
	height: 46px;
	max-width: 420px;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	border-radius: 24px;
	background: #ffffff;
	backdrop-filter: blur(16px);
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	color: #292a2e;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 992px) {
	.title {
		width: 656px;
		height: 96px;
		max-width: 774px;
		padding-top: 24px;
		padding-right: 16px;
		padding-bottom: 24px;
		padding-left: 16px;
		border-radius: 56px;
		font-size: 40px;
		text-align: center;
	}
}

.content {
	width: 100%;
	padding-left: 6.09vw;
	padding-right: 6.09vw;
	padding-bottom: 6.09vw;
}

.bubble-text2 {
	width: 129px;
	height: 54px;
	max-width: 320px;
	padding: 14px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-left: auto;
	margin-top: 9px;
}

.bubble-text3 {
	width: 168px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-right: auto;
	margin-top: 18px;
}

.bubble-text4 {
	width: 103px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-left: auto;
	margin-top: 12px;
}

.bubble-text5 {
	width: 216px;
	height: 76px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-right: auto;
	margin-top: 19px;
}

.bubble-text6 {
	width: 173px;
	height: 54px;
	max-width: 320px;
	padding: 14px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-top: 33px;
	margin-left: auto;
	margin-right: auto;
}

.bubble-text7 {
	width: 216px;
	height: 76px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-top: 31px;
	margin-left: auto;
}

.bubble-text8 {
	width: 170px;
	height: 54px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-top: 32px;
	margin-right: auto;
}

.bubble-text9 {
	width: 252px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-top: 40px;
	margin-left: auto;
}

.bubble-text10 {
	width: 226px;
	height: 58px;
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-top: 34px;
	margin-right: auto;
}

.bubble-text11 {
	width: 98px;
	height: 54px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
}

.bubble-text12 {
	width: 230px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
}

.bubble-text13 {
	display: none;
}

.bubble-text14 {
	display: none;
}

.bubble-text15 {
	display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.bubble-text2 {
		position: absolute;
		top: 27.8px;
		right: 113px;
		width: 268px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-size: 38px;
	}

	.bubble-text3 {
		position: absolute;
		top: 200px;
		left: 30px;
		width: 335px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-size: 28px;
	}

	.bubble-text4 {
		position: absolute;
		top: 400px;
		right: 2%;
		width: 280px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-weight: 500;
		font-size: 38px;
	}

	.bubble-text5 {
		position: absolute;
		left: 3%;
		bottom: 45%;
		width: 460px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
	}

	.bubble-text6 {
		display: none;
	}

	.bubble-text7 {
		position: absolute;
		right: 4%;
		bottom: 50px;
		width: 489px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
	}

	.bubble-text8 {
		position: absolute;
		left: 0;
		top: 30%;
		width: 326px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-size: 38px;
	}

	.bubble-text9 {
		position: absolute;
		right: 10%;
		bottom: 40%;
		width: 503px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px;
		font-size: 28px;
	}

	.bubble-text10 {
		position: absolute;
		left: 5%;
		bottom: 250px;
		width: 512px;
		height: 100px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
		font-size: 28px;
	}

	.bubble-text11 {
		position: absolute;
		right: 10%;
		bottom: 200px;
		width: 190px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 32px;
		padding-bottom: 24px;
		padding-left: 32px;
		font-size: 38px;
	}

	.bubble-text12 {
		position: absolute;
		left: 10%;
		bottom: 40px;
		width: 459px;
		height: 66px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px;
		font-size: 28px;
	}

	.bubble-text13 {
		display: block;
		position: absolute;
		top: 200px;
		right: 5%;
		width: 290px;
		height: 66px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
		line-height: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
	.bubble-text2 {
		position: absolute;
		top: -10%;
		right: 100px;
		width: 268px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-size: 38px;
	}

	.bubble-text3 {
		position: absolute;
		top: 200px;
		left: 30px;
		width: 335px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-size: 28px;
	}

	.bubble-text4 {
		position: absolute;
		top: 400px;
		right: 2%;
		width: 280px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-weight: 500;
		font-size: 38px;
	}

	.bubble-text5 {
		position: absolute;
		left: 3%;
		bottom: 45%;
		width: 460px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
	}

	.bubble-text6 {
		display: block;
		position: absolute;
		top: 5%;
		right: 5%;
		width: 360px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-weight: 500;
		font-size: 38px;
		line-height: 100%;
		text-align: center;
	}

	.bubble-text7 {
		position: absolute;
		right: 4%;
		bottom: 50px;
		width: 489px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
	}

	.bubble-text8 {
		position: absolute;
		left: 0;
		top: 30%;
		width: 326px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-size: 38px;
	}

	.bubble-text9 {
		position: absolute;
		right: 10%;
		bottom: 40%;
		width: 503px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px;
		font-size: 28px;
	}

	.bubble-text10 {
		position: absolute;
		left: 5%;
		bottom: 250px;
		width: 512px;
		height: 100px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
		font-size: 28px;
	}

	.bubble-text11 {
		position: absolute;
		right: 20%;
		bottom: 200px;
		width: 190px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 32px;
		padding-bottom: 24px;
		padding-left: 32px;
		font-size: 38px;
	}

	.bubble-text12 {
		position: absolute;
		left: 10%;
		bottom: 40px;
		width: 459px;
		height: 66px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px;
		font-size: 28px;
	}

	.bubble-text13 {
		display: block;
		position: absolute;
		top: 200px;
		right: 5%;
		width: 290px;
		height: 66px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
		line-height: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 1440px) {
	.bubble-text2 {
		position: absolute;
		top: -5%;
		right: 15%;
		width: 268px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-size: 38px;
	}

	.bubble-text3 {
		position: absolute;
		top: 200px;
		left: 15%;
		width: 335px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-size: 28px;
	}

	.bubble-text4 {
		position: absolute;
		bottom: 40%;
		left: 10%;
		width: 280px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-weight: 500;
		font-size: 38px;
	}

	.bubble-text5 {
		position: absolute;
		left: 40%;
		bottom: 10%;
		width: 460px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
	}

	.bubble-text6 {
		display: block;
		position: absolute;
		top: 15%;
		right: 10%;
		width: 360px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-weight: 500;
		font-size: 38px;
		line-height: 100%;
		text-align: center;
	}

	.bubble-text7 {
		position: absolute;
		left: 4%;
		bottom: 60%;
		width: 489px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
	}

	.bubble-text8 {
		position: absolute;
		right: 5%;
		top: 60%;
		width: 326px;
		height: 94px;
		max-width: 580px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-size: 38px;
	}

	.bubble-text9 {
		position: absolute;
		left: 10%;
		bottom: 5%;
		width: 503px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px;
		font-size: 28px;
	}

	.bubble-text10 {
		position: absolute;
		right: 10%;
		bottom: 8%;
		width: 512px;
		height: 100px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px;
		font-size: 28px;
	}

	.bubble-text11 {
		display: none;
	}

	.bubble-text12 {
		position: absolute;
		right: 20%;
		bottom: 40%;
		width: 459px;
		height: 66px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px;
		font-size: 28px;
	}

	.bubble-text13 {
		display: block;
		position: absolute;
		top: 30%;
		right: 15%;
		width: 290px;
		height: 66px;
		max-width: 512px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-weight: 400;
		font-size: 28px;
		line-height: 100%;
		text-align: center;
	}

	.bubble-text14 {
		display: block;
		position: absolute;
		left: 20%;
		bottom: 30%;
		width: 730px;
		height: 94px;
		max-width: 774px;
		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px;
		font-weight: 500;
		font-size: 38px;
		line-height: 100%;
		text-align: center;
	}
}
