/* --------fonts----------- */
@font-face {
	font-family: "DelaGothicOne";
	src: url("../fonts/DelaGothicOne-Regular.ttf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "KodeMono";
	src: url("../fonts/KodeMono-VariableFont_wght.ttf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Stolzl";
	src: url("../fonts/stolzl_light.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
}

/* --------reset---------------- */
* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;

	padding: 0;
	list-style: none;
}

.button {
	cursor: pointer;
}

label {
	margin: 0;
}

input {
	background: none;
	outline: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

/* ----------------------------------------- */

html {
	scroll-behavior: smooth;
	height: auto;
	min-height: 100%;
}
body {
	font-family: "Stolzl", sans-serif;
	color: #ffffff;
	position: relative;
	width: 100vw;
	height: auto;
	min-height: 100dvh;
	max-height: 1226px;
	overflow-x: hidden;
	background: linear-gradient(0deg, #1a1a1e, #1a1a1e),
		linear-gradient(90.6deg, #1a1a1e 0.42%, #292a2e 49.61%, #1a1a1e 99.38%);
	margin: 0;
}

body::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 2;
	background-image: linear-gradient(
			180deg,
			rgba(26, 26, 30, 0) 0%,
			rgba(26, 26, 30, 0.84) 59.2%,
			#1a1a1e 100%
		),
		url(../images/bg-img.webp);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* ----------accent---------- */
.accent1 {
	position: absolute;
	left: 0;
	top: 68px;
	width: 76.21vw;
	max-width: 300px;
	z-index: 4;
}

@media screen and (min-width: 992px) {
	.accent1 {
		display: none;
	}
}

.accent2 {
	display: none;
}

@media screen and (min-width: 992px) {
	.accent2 {
		display: block;
		position: absolute;
		top: -420px;
		left: -420px;
		width: 980px;
		z-index: 4;
	}
}

@media screen and (min-width: 1440px) {
	.accent2 {
		top: -400px;
		left: -320px;
	}
}

.accent3 {
	position: absolute;
	right: 0;
	bottom: 100px;
	z-index: 4;
}

@media screen and (min-width: 992px) {
	.accent3 {
		right: 0;
		top: -200px;
		z-index: 4;
	}
}

.accent4 {
	position: absolute;
	left: 0;
	bottom: 100px;
	width: 49.39vw;
	max-width: 280px;
	z-index: 4;
}

@media screen and (min-width: 992px) {
	.accent4 {
		display: none;
	}
}

.accent5 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	max-width: 520px;
	z-index: 4;
}

.accent6 {
	display: none;
}

.accent7 {
	display: none;
}

.accent8 {
	display: none;
}

.accent9 {
	display: none;
}

@media screen and (min-width: 992px) {
	.accent6 {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 89.87vw;
		z-index: 4;
	}
}

@media screen and (min-width: 1200px) {
	.accent6 {
		max-width: 900px;
	}
}
@media screen and (min-width: 1440px) {
	.accent6 {
		display: none;
	}

	.accent5 {
		display: none;
	}

	.accent7 {
		display: block;
		position: absolute;
		bottom: -370px;
		right: -250px;
		width: 1080px;
		z-index: 5;
	}

	.accent8 {
		position: absolute;
		left: -250px;
		bottom: -300px;
		display: block;
		width: 1300px;
		z-index: 4;
	}

	.accent3 {
		display: none;
	}

	.accent9 {
		position: absolute;
		top: -220px;
		right: -650px;
		display: block;
		width: 1230px;
		z-index: 4;
	}
}

/* -----------main------------- */
.container {
	position: relative;
	width: 100%;
	max-width: 3000px;
	height: auto;
	min-height: 100dvh;
	margin: 0 auto;
	padding-top: 46px;
	overflow: hidden;
}
@media screen and (min-width: 992px) {
	.container {
		padding-top: 80px;
		height: 1226px;
	}
}
@media screen and (min-width: 2400px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.header {
	width: 100%;
	max-width: 2400px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	z-index: 3;
}

@media screen and (min-width: 992px) {
	.header {
		gap: 32px;
	}
}

.logo {
	width: 172px;
	height: 20px;
}

@media screen and (min-width: 992px) {
	.logo {
		width: 418px;
		height: 48px;
	}
}

.header-titel {
	font-family: "DelaGothicOne";
	font-weight: 400;
	font-size: 24px;
	line-height: 18px;
}

@media screen and (min-width: 992px) {
	.header-titel {
		font-size: 48px;
		line-height: 100%;
	}
}

.main {
	position: relative;
	z-index: 8;
	width: 100%;
	height: auto;
	padding-top: 40px;
}

@media screen and (min-width: 992px) {
	.main {
		max-width: 1225px;
		height: 1020px;
	}
}

@media screen and (min-width: 1200px) {
	.main {
		max-width: 1512px;
		padding-top: 55px;
	}
}

@media screen and (min-width: 1440px) {
	.main {
		max-width: 2400px;
		/* padding-top: 0; */
	}
}

.bubble {
	border-radius: 100px;
	border: 2px solid #00ff86;
	background: #131f28a3;
	backdrop-filter: blur(16px);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bubble-text1 {
	width: 237px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 992px) {
	.bubble-text1 {
		width: 473px;
		height: 66px;
		max-width: 560px;
		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-size: 28px;
		text-align: center;
		margin-left: 10%;
	}
}

@media screen and (min-width: 1440px) {
	.bubble-text1 {
		width: 19.70vw;
		height: 2.75vw;
		max-width: 560px;
/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-size: 1.16vw;
		text-align: center;
		margin-left: 10%;
	}
}

.hero {
	position: relative;
	width: 300px;
	height: 290px;
	background-image: url(../images/Maskot.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center -30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-right: auto;
	margin-left: auto;
	z-index: 100;
}
@media screen and (min-width: 992px) {
	.hero {
		width: 992px;
		height: 700px;
		background-position: center -100px;
	}
}

.timer-wrap {
	width: 296px;
	height: 76px;
	padding-top: 16px;
	padding-right: 24px;
	padding-bottom: 16px;
	padding-left: 24px;
	border-radius: 24px;
	border-width: 1px;
	background: linear-gradient(86.65deg, #00ed7c 0%, #49f1ca 99.98%);
	border-image-source: linear-gradient(
		0deg,
		#238d67 0%,
		rgba(255, 255, 255, 0.64) 100%
	);
}

@media screen and (min-width: 992px) {
	.timer-wrap {
		width: 774px;
		height: 173px;
		padding-top: 32px;
		padding-right: 64px;
		padding-bottom: 32px;
		padding-left: 64px;
		border-radius: 56px;
		border-width: 2px;
	}
}

.timer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 4px;
}
@media screen and (min-width: 992px) {
	.timer {
		gap: 8px;
	}
}

.time {
	display: flex;
	flex-direction: column;
	width: 32px;
}

@media screen and (min-width: 992px) {
	.time {
		width: 104px;
	}
}

.time-part {
	font-family: "KodeMono";
	font-weight: 700;
	font-size: 26px;
	line-height: 26px;
	color: #292a2e;
	font-variant-numeric: tabular-nums;
}

@media screen and (min-width: 992px) {
	.time-part {
		font-size: 86px;
		line-height: 86px;
	}
}

.label {
	font-family: "DelaGothicOne";
	font-weight: 400;
	font-size: 6px;
	line-height: 1.1;
	text-align: center;
	text-transform: uppercase;
	color: #292a2e52;
}

@media screen and (min-width: 992px) {
	.label {
		font-size: 16px;
	}
}
@media screen and (min-width: 992px) {
	.mobile-break {
		display: none;
	}
}

.colon {
	user-select: none;
	font-family: "KodeMono";
	font-weight: 400;
	font-size: 26px;
	line-height: 26px;
	color: #292a2e52;
}

@media screen and (min-width: 992px) {
	.colon {
		font-size: 86px;
		line-height: 86px;
	}
}

.title {
	width: 296px;
	height: 46px;
	max-width: 420px;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	border-radius: 24px;
	background: #ffffff;
	backdrop-filter: blur(16px);
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	color: #292a2e;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 992px) {
	.title {
		width: 656px;
		height: 96px;
		max-width: 774px;
		padding-top: 24px;
		padding-right: 16px;
		padding-bottom: 24px;
		padding-left: 16px;
		border-radius: 56px;
		font-size: 40px;
		text-align: center;
	}
}

.hero-cta {
	width: 240px;
	height: 54px;
	padding-top: 16px;
	padding-right: 32px;
	padding-bottom: 16px;
	padding-left: 32px;
	border-radius: 16px;
	border: 4px solid rgba(255, 255, 255, 0.32);
	overflow: hidden;
	background: linear-gradient(180deg, #44ffa6 0%, #00dc74 100%);
	/* background: radial-gradient(at center, #44FFA6 0%,#44FFA6 100%); */
	font-family: "Stolzl";
	font-weight: 700;
	font-size: 18px;
	line-height: 1.1;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	color: #292a2e;
	margin-top: 32px;
	box-shadow: 0px 4px 24px 0px #000000a3, 0px 0px 48px 0px #36ffa080,
		0px 0px 12px 0px #36ffa0cc;
}

@media screen and (min-width: 992px) {
	.hero-cta {
		width: 320px;
		height: 96px;
		padding-top: 24px;
		padding-right: 32px;
		padding-bottom: 24px;
		padding-left: 32px;
		border-radius: 24px;
		font-size: 40px;
		margin-top: 56px;
	}
}

.content {
	width: 100%;
	padding-left: 6.09vw;
	padding-right: 6.09vw;
	padding-bottom: 6.09vw;
}

.bubble-text2 {
	width: 129px;
	height: 54px;
	max-width: 320px;
	padding: 14px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-left: auto;
}

.bubble-text3 {
	width: 168px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-right: auto;
	margin-top: 15px;
}

.bubble-text4 {
	width: 103px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-left: auto;
}

.bubble-text5 {
	width: 216px;
	height: 76px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-right: auto;
	margin-top: 12px;
}

.bubble-text6 {
	width: 173px;
	height: 54px;
	max-width: 320px;
	padding: 14px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.bubble-text7 {
	width: 250px;
	height: 41px;
	max-width: 320px;
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	text-align: center;
	margin-left: auto;
	margin-top: 48px;
}

.bubble-text8 {
	width: 170px;
	height: 54px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-top: 50px;
	margin-right: auto;
}

.bubble-text9 {
	width: 252px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-top: 40px;
	margin-left: auto;
}

.bubble-text10 {
	width: 226px;
	height: 58px;
	padding: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-top: 34px;
	margin-right: auto;
}

.bubble-text11 {
	width: 98px;
	height: 54px;
	max-width: 320px;
	padding: 16px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
}

.bubble-text12 {
	width: 230px;
	height: 41px;
	max-width: 320px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	margin-top: 22px;
	margin-left: auto;
	margin-right: auto;
}

.bubble-text13 {
	display: none;
}

.bubble-text14 {
	display: none;
}

.bubble-text15 {
	display: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.bubble-text2 {
		position: absolute;
		top: 27.8px;
		right: 113px;
		/* 		width: 268px;
		height: 94px; */
		width: 21.87vw;
		height: 7.67vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		/* font-size: 38px; */
		font-size: 3.1vw;
	}

	.bubble-text3 {
		position: absolute;
		top: 200px;
		left: 30px;
		/* 		width: 335px;
		height: 66px; */
		width: 27.34vw;
		height: 5.38vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px;
		font-size: 28px; */
		font-size: 2.28vw;
	}

	.bubble-text4 {
		position: absolute;
		top: 400px;
		right: 2%;
		/* 		width: 280px;
		height: 94px; */
		width: 22.85vw;
		height: 7.67vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		font-weight: 500;
		/* font-size: 38px; */
		font-size: 3.1vw;
	}

	.bubble-text5 {
		position: absolute;
		left: 3%;
		top: 62%;
		/* 		width: 460px;
		height: 66px; */
		width: 37.55vw;
		height: 5.38vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-weight: 400;
		/* font-size: 28px; */
		font-size: 2.28vw;
	}

	.bubble-text6 {
		display: none;
	}

	.bubble-text7 {
		position: absolute;
		right: 4%;
		top: 84%;
		/* 		width: 489px;
		height: 66px; */
		width: 39.91vw;
		height: 5.38vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-weight: 400;
		/* font-size: 28px; */
		font-size: 2.28vw;
	}

	.bubble-text8 {
		position: absolute;
		left: 2%;
		top: 30%;
		width: 326px;
		height: 94px;
		/* 		width: 26,61vw;
		height: 7.67vw; */
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		font-size: 38px;
	}

	.bubble-text9 {
		position: absolute;
		right: 5%;
		top: 63%;
		/* 		width: 503px;
		height: 66px; */
		width: 41.06vw;
		height: 5.38vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px; */
		/* 	font-size: 28px; */
		font-size: 2.28vw;
	}

	.bubble-text10 {
		position: absolute;
		left: 5%;
		top: 75%;
		/* 		width: 512px;
		height: 100px; */
		width: 41.79vw;
		height: 8.16vw;
		max-width: 512px;
		/* 		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px; */
		/* 	font-size: 28px; */
		font-size: 2.28vw;
	}

	.bubble-text11 {
		position: absolute;
		right: 10%;
		top: 73%;
		/* 		width: 190px;
		height: 94px; */
		width: 15.51vw;
		height: 7.67vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 32px;
		padding-bottom: 24px;
		padding-left: 32px; */
		/* 	font-size: 38px; */
		font-size: 3.1vw;
	}

	.bubble-text12 {
		position: absolute;
		left: 10%;
		top: 89%;
		/* 		width: 459px;
		height: 66px; */
		width: 37.46vw;
		height: 5.38vw;
		max-width: 512px;
		/* 		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px; */
		/* 	font-size: 28px; */
		font-size: 2.28vw;
	}

	.bubble-text13 {
		display: block;
		position: absolute;
		top: 200px;
		right: 5%;
		/* 		width: 290px;
		height: 66px; */
		width: 23.67vw;
		height: 5.38vw;
		max-width: 512px;
		padding-top: 10px;
		padding-right: 16px;
		padding-bottom: 10px;
		padding-left: 16px;
		font-weight: 400;
		/* 	font-size: 28px; */
		font-size: 2.28vw;
		line-height: 1.1;
		text-align: center;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
	.bubble-text2 {
		position: absolute;
		top: -10%;
		right: 100px;
		/* 		width: 268px;
		height: 94px; */
		width: 17.72vw;
		height: 6.21vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		/* font-size: 38px; */
		font-size: 2.51vw;
	}

	.bubble-text3 {
		position: absolute;
		top: 200px;
		left: 30px;
		/* 		width: 335px;
		height: 66px; */
		width: 22.15vw;
		height: 4.36vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		/* font-size: 28px; */
		font-size: 1.85vw;
	}

	.bubble-text4 {
		position: absolute;
		top: 400px;
		right: 2%;
		/* 		width: 280px;
		height: 94px; */
		width: 18.51vw;
		height: 6.21vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		font-weight: 500;
		/* font-size: 38px; */
		font-size: 2.51vw;
	}

	.bubble-text5 {
		position: absolute;
		left: 3%;
		top: 65%;
		/* 		width: 460px;
		height: 66px; */
		width: 30.42vw;
		height: 4.36vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-weight: 400;
		/* font-size: 28px; */
		font-size: 1.85vw;
	}

	.bubble-text6 {
		display: block;
		position: absolute;
		top: 5%;
		right: 5%;
		/* 		width: 360px;
		height: 94px; */
		width: 23.8vw;
		height: 6.21vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		font-weight: 500;
		/* font-size: 38px; */
		font-size: 2.51vw;
		line-height: 100%;
		text-align: center;
	}

	.bubble-text7 {
		position: absolute;
		right: 10%;
		top: 84%;
		/* 		width: 489px;
		height: 66px; */
		width: 32.34vw;
		height: 4.36vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-weight: 400;
		/* font-size: 28px; */
		font-size: 1.85vw;
	}

	.bubble-text8 {
		position: absolute;
		left: 0;
		top: 37%;
		/* 		width: 326px;
		height: 94px; */
		width: 21.56vw;
		height: 6.21vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		/* font-size: 38px; */
		font-size: 2.51vw;
	}

	.bubble-text9 {
		position: absolute;
		right: 2%;
		top: 60%;
		/* 		width: 503px;
		height: 66px; */
		width: 33.26vw;
		height: 4.36vw;
		max-width: 560px;
		/* 	padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px; */
		/* font-size: 28px; */
		font-size: 1.85vw;
	}

	.bubble-text10 {
		position: absolute;
		left: 5%;
		top: 77%;
		/* 		width: 512px;
		height: 100px; */
		width: 33.86vw;
		height: 6.61vw;
		max-width: 512px;
		/* 		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px; */
		/* font-size: 28px; */
		font-size: 1.85vw;
	}

	.bubble-text11 {
		position: absolute;
		right: 20%;
		top: 73%;
		/* 		width: 190px;
		height: 94px; */
		width: 12.56vw;
		height: 6.21vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 32px;
		padding-bottom: 24px;
		padding-left: 32px; */
		/* font-size: 38px; */
		font-size: 2.51vw;
	}

	.bubble-text12 {
		position: absolute;
		left: 10%;
	top: 90%;
		/* 		width: 459px;
		height: 66px; */
		width: 459px;
		height: 4.38vw;
		max-width: 512px;
		/* 		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px; */
		/* font-size: 28px; */
		font-size: 1.85vw;
	}

	.bubble-text13 {
		display: block;
		position: absolute;
		top: 200px;
		right: 5%;
		/* 		width: 290px;
		height: 66px; */
		width: 19.17vw;
		height: 4.36vw;
		max-width: 512px;
		padding-top: 12px;
		padding-right: 18px;
		padding-bottom: 12px;
		padding-left: 18px;
		font-weight: 400;
		/* font-size: 28px; */
		font-size: 1.85vw;
		line-height: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 1440px) {
	.bubble-text2 {
		position: absolute;
		top: -5%;
		right: 15%;
		/* 		width: 268px;
		height: 94px; */
		width: 11.16vw;
		height: 3.91vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		/* 		font-size: 38px; */
		font-size: 1.58vw;
	}

	.bubble-text3 {
		position: absolute;
		top: 200px;
		left: 15%;
		/* 		width: 335px;
		height: 66px; */
		width: 13.95vw;
		height: 2.75vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		/* 		font-size: 28px; */
		font-size: 1.16vw;
	}

	.bubble-text4 {
		position: absolute;
		top: 60%;
		left: 10%;
		/* 		width: 280px;
		height: 94px; */
		width: 11.66vw;
		height: 3.91vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		font-weight: 500;
		/* 		font-size: 38px; */
		font-size: 1.58vw;
	}

	.bubble-text5 {
		position: absolute;
		left: 40%;
		top: 86%;
		/* 		width: 460px;
		height: 66px; */
		width: 19.16vw;
		height: 2.75vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-weight: 400;
		/* 		font-size: 28px; */
		font-size: 1.16vw;
	}

	.bubble-text6 {
		display: block;
		position: absolute;
		top: 15%;
		right: 10%;
		/* 		width: 360px;
		height: 94px; */
		width: 15vw;
		height: 3.91vw;
		max-width: 580px;
				padding-top: 14px;
		padding-right: 16px;
		padding-bottom: 10px;
		padding-left: 16px;
		font-weight: 500;
		/* 		font-size: 38px; */
		font-size: 1.58vw;
		line-height: 100%;
		text-align: center;
	}

	.bubble-text7 {
		position: absolute;
		left: 4%;
		top: 40%;
		/* 		width: 489px;
		height: 66px; */
		width: 20.37vw;
		height: 2.75vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 22px;
		padding-bottom: 16px;
		padding-left: 22px; */
		font-weight: 400;
		/* 		font-size: 28px; */
		font-size: 1.16vw;
	}

	.bubble-text8 {
		position: absolute;
		right: 5%;
		top: 45%;
		/* 		width: 326px;
		height: 94px; */
		width: 13.58vw;
		height: 3.91vw;
		max-width: 580px;
		/* 		padding-top: 24px;
		padding-right: 30px;
		padding-bottom: 24px;
		padding-left: 30px; */
		/* 		font-size: 38px; */
		font-size: 1.58vw;
	}

	.bubble-text9 {
		position: absolute;
		left: 15%;
		top: 87%;
		/* 		width: 503px;
		height: 66px; */
		width: 20.95vw;
		height: 2.75vw;
		max-width: 560px;
		/* 		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px; */
		/* 		font-size: 28px; */
		font-size: 1.16vw;
	}

	.bubble-text10 {
		position: absolute;
		right: 15%;
		top: 75%;
		/* 		width: 512px;
		height: 100px; */
		width: 21.33vw;
		height: 4.16vw;
		max-width: 512px;
		/* 		padding-top: 16px;
		padding-right: 24px;
		padding-bottom: 16px;
		padding-left: 24px; */
		/* 		font-size: 28px; */
		font-size: 1.16vw;
	}

	.bubble-text11 {
		display: none;
	}

	.bubble-text12 {
		position: absolute;
		right: 20%;
		top: 65%;
		/* 		width: 459px;
		height: 66px; */
		width: 19.12vw;
		height: 2.75vw;
		max-width: 512px;
		/* 		padding-top: 16px;
		padding-right: 20px;
		padding-bottom: 16px;
		padding-left: 20px; */
		/* 		font-size: 28px; */
		font-size: 1.16vw;
	}

	.bubble-text13 {
		display: block;
		position: absolute;
		top: 40%;
		right: 15%;
		/* 		width: 290px;
		height: 66px; */
		width: 12.08vw;
		height: 2.75vw;
		max-width: 512px;
				padding-top: 12px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		font-weight: 400;
		/* 		font-size: 28px; */
		font-size: 1.16vw;
		line-height: 100%;
		text-align: center;
	}

	.bubble-text14 {
		display: block;
		position: absolute;
		left: 10%;
		top: 77%;
		/* 		width: 730px;
		height: 94px; */
		width: 30.41vw;
		height: 3.91vw;
		max-width: 774px;
				padding-top: 16px;
		padding-right: 16px;
		padding-bottom: 10px;
		padding-left: 16px;
		font-weight: 500;
		/* 		font-size: 38px; */
		font-size: 1.58vw;
		line-height: 100%;
		text-align: center;
	}
}
